body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#div-lol {
	display: flex;
	flex-direction: column;
}

.heard{
	display: flex;
}

label {
	margin-left: 20px;
}
.me {
	height:200px;
	position: fixed;
	left: 150px;
	top: 50px;
	z-index: -1;
}
#hire{
	display: flex;
	flex-direction: column;
}
.hire-info{
	display: flex;
	margin-top: 7px;
}
#hire > label {
	margin: 0;
}
body {
	font-family: 'Audiowide';
}

.digital {
	font-family: 'Press Start 2P';
	color:rgb(255, 255, 0);
}

.profile-pg{
	background-image: url("https://t3.ftcdn.net/jpg/02/82/98/04/240_F_282980424_InJLdo8nrNJnxqyFy4pfIKSUOdMUIFcQ.jpg");
	background-size: 150%;
	color: rgb(213, 255, 128);
}

.button {
	min-width: 100px;
	min-height: 30px;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 700;
	color: #313133;
	background: #ffff00;
  background: linear-gradient(90deg, #ffff00 0%, #ffff00 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px rgba(79,209,197,.64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
	margin: 10px;
	}
  
  
  .button:hover, .button:focus {
	color: #313133;
	transform: translateY(-6px);
  }
  
  .button:hover::before, .button:focus::before {
	opacity: 1;
  }
  
#con-info {
	min-width: 100px;
	min-height: 30px;
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 700;
	color: #313133;
	background: #ffff00;
  background: linear-gradient(90deg, #ffff00 0%, #ffff00 100%);
	border: none;
	border-radius: 10px;
	box-shadow: 12px 12px 24px rgba(79,209,197,.64);
	transition: all 0.3s ease-in-out 0s;
	cursor: text;
	outline: none;
	position: relative;
	padding: 10px;
	margin: 10px;
}